@charset "utf-8";

@font-face {
    font-family:'NotoR';
    font-weight: normal;
    font-style: normal;
    src: url('../font/NotoSansKR-Regular.eot');
    src: url('../font/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/NotoSansKR-Regular.woff2') format('woff2'),
         url('../font/NotoSansKR-Regular.woff') format('woff'),
         url('../font/NotoSansKR-Regular.otf') format('opentype'),
         local("※");
    }
    @font-face {
    font-family:'NotoB';
    font-weight: normal;
    font-style: normal;
    src: url('../font/NotoSansKR-Bold.eot');
    src: url('../font/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/NotoSansKR-Bold.woff2') format('woff2'),
         url('../font/NotoSansKR-Bold.woff') format('woff'),
         url('../font/NotoSansKR-Bold.otf') format('opentype'),
         local("※");
    }
    @font-face {
    font-family:'TR';
    font-weight: normal;
    font-style: normal;
    src: url('../font/TmoneyRoundWindRegular.eot');
    src: url('../font/TmoneyRoundWindRegular.eot?#iefix') format('embedded-opentype'),
         url('../font/TmoneyRoundWindRegular.woff2') format('woff2'),
         url('../font/TmoneyRoundWindRegular.woff') format('woff'),
         url('../font/TmoneyRoundWindRegular.otf') format('opentype'),
         local("※");
    }
    @font-face {
    font-family:'TB';
    font-weight: normal;
    font-style: normal;
    src: url('../font/TmoneyRoundWindExtraBold.eot');
    src: url('../font/TmoneyRoundWindExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../font/TmoneyRoundWindExtraBold.woff2') format('woff2'),
         url('../font/TmoneyRoundWindExtraBold.woff') format('woff'),
         url('../font/TmoneyRoundWindExtraBold.otf') format('opentype'),
         local("※");
    }

/* ========== [태그 초기화] ========== */
* {margin:0; padding:0;}
html, body {width:100%; height:100%}
body {font-family:'NotoR', dotum, '돋움', sans-serif;font-weight:normal;font-size:18px;color:#555;line-height:20px}
div, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, code,del, dfn, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend,table, caption, tbody, tfoot, thead, tr, th, td ,hr {margin:0;padding:0;font-family:'NotoR';font-size:100%;font-weight:normal;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;}
h1, h2, h3, h4, h5, h6 {font-family:'NotoR';font-weight:normal;}
ol, ul, li {list-style:none}
table {width:100%; border-collapse:collapse;border-spacing:0;table-layout:fixed;}
form, fieldset, iframe {display:block;border:0}
img, button {border:0 none;vertical-align:middle}
hr {height:0; display:none}
i, em, address{font-style:normal}
label, button{cursor:pointer}
blockquote, q {quotes:none}
caption {visibility:hidden;width:0;height:0;padding:0;margin:0;font-size:0;}
legend {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;text-indent:-100%;white-space:nowrap;z-index:-1}
.ellipsis {display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
input, textarea, select, button {font-family:'NotoL';font-size:14px;letter-spacing:0;color:#555;vertical-align:middle}

a {color:#555;text-decoration:none;/*outline:none;*/}
a.nolink {cursor:default;}
a:link, a:visited {text-decoration:none}
/*a:focus {outline:none;}*/

button {display:inline-block;background:none;border:none;/*outline:none;*/}
button:hover {color:#222;}
/*button:focus {outline:none;}*/

/* ========== [공통] ========== */
body {
    margin: 0;
    padding: 0;
    font-family: 'NotoR', dotum, '돋움', sans-serif;
    background-color: #eff3f7;
    height: 100%;
  }

  .flex_wrapper {
       display: flex;
       justify-content: center;
       width: 100%;
  }

  .flex_column_wrapper {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100%;
}

.clear:after {content:'';display:block;clear:both;}

/* ========== [main] ========== */
  .header {
     width: 100%;
     height: 70px;
     background-color: #fff;
  }

  .header .header_box {
     width: 980px;
  }

  .header .header_box .logo_area{
       background: url('../images/main/logo.png') no-repeat 0 -3px;
       background-size: 70%;
       width: 250px;
       height: 100%;
       float: left;
  }
  .header .header_box .nav_area{
       float: right;
       width: 690px;
  }

  .header .header_box .nav_area ul{
     list-style: none;
  }

  .header .header_box ul li{
       width: 20%;
       text-align: center;
       font-family: 'NotoB';
       font-size: 18px;
       float: left;
}  

  .main_contents {
    min-width: 1200px;
  }

  .arrow_bottom {
       position: fixed;
       width: 100%;
       bottom: 70px;
       text-align: center;
  }

  .arrow_bottom a{
       display: inline-block;
       width: 65px;
       height: 65px;
       border-radius: 50%;
       border: 1px solid #fff;
       background: url('../images/main/arrow_bottom.png') no-repeat 50% 0;
       color: transparent;
  }

  .main_001 {
       width: 100%;
       height: 916px;
       background: url('../images/main/main_img.jpg') no-repeat center center;
       background-size: cover;
       position: relative;
  }

  .main_001 .text_area{
       height: 415px;
       text-align: center;
       font-family: 'TR';
       font-size: 30px;
       line-height: 50px;
       color: #fff;
       text-shadow: 0 0 0 #333, 0 5px 10px rgba(0,0,0,0.3);
  }

  .main_001 .text_area .bold_text {
     font-size: 40px;
     font-family: 'TB';
     display: inline;
}

.main_001 .btn_area{
     width: 100%;
     height: 305px;
     margin-bottom: 200px;
}

.main_001 .btn_area .btn_box{
     width: 940px;
     justify-content: space-between;
}

.main_001 .btn_area .main_btn{
     width: 300px;
     height: 305px;
     border-radius: 10px;
}

.main_001 .btn_area .main_btn div {
     width: 100%;
     height: 225px;
     text-align: center;
     border-radius: 10px 10px 0 0;
}
.main_001 .btn_area .main_btn div p{
     padding-top: 30px;
     font-family: 'TB';
     font-size: 30px;
}
.main_001 .btn_area .main_btn .btn_01 {
     background: url('../images/main/main001_btn_01.png') no-repeat center center;
}
.main_001 .btn_area .main_btn .btn_02 {
     background: url('../images/main/main001_btn_02.png') no-repeat center center;
}
.main_001 .btn_area .main_btn .btn_03 {
     background: url('../images/main/main001_btn_03.png') no-repeat center center;
}

.main_001 .btn_area .main_btn button{
     width: 100%;
     height:  80px;
     color: #fff;
     background-color: #e74739;
     font-family: 'NotoB';
     font-size: 24px;
     border-radius: 0 0 10px 10px;
}